Source: gxde-artwork
Section: misc
Priority: optional
Maintainer: LiLongyu <lilongyu@linuxdeepin.com>
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 8),

Package: gxde-artwork
Architecture: all
Depends: ${misc:depends},
    gxde-icon-theme,
    deepin-gtk-theme,
Suggests: grub-theme-gxde
Description: GXDE Artwork 
 This package is a meta package of GXDE Artworks.
